header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(199, 243, 214);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;

    img {
        width: 100px;
    }
}

.carousel-inner {
    display: flex;
    width: 400px;
    margin: auto 0;
}

.carousel slide {
    display: flex;
    width: 400px;
    margin: auto 0;
}

.container-adoptions{
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 221, 137);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.btn{
    align-items: center;
}